{
  "parser": "vue-eslint-parser",
  "extends": [
    "plugin:vue/base",
    "plugin:vue/vue3-recommended",
    "prettier",
    "prettier/vue",
  ],
  "plugins": ['prettier', 'jsx-a11y'],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
  },
  "globals": {
    "window": true,
    "document": true,
    "describe": true,
    "test": true,
    "expect": true,
    "navigator": true,
    "API_URL": true,
    "APP_URL": true,
    "NODE_ENV": true,
    "$": true,
    "PORT": true,
    "SSR": true,
    "localStorage": true,
    "sessionStorage": true,
    "Blob": true,
    "Image": true
  },
  "rules": {
    "vue/html-indent": "off",
    "no-useless-constructor": "off",
    "import/prefer-default-export": "off",
    "no-console": ["error", { allow: ["error"] }],
    "camelcase": "off",
    "linebreak-style": [0, {"allow": ["windows"]}],
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "prettier/prettier": ["error", {
      "printWidth": 80,
      "tabWidth": 2,
      "useTabs": false,
      "semi": true,
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["jitsiMeet", "libs", "i18n", "commons", "components", "containers", "api", "styles", "pages", "modals", "utils", "stores", "config", "assets"]
      }
    ],
    "max-lines": [2, {  // specify the max number of lines in a file
      max: 300,
      skipBlankLines: true,
      skipComments: true
    }],
    "max-lines-per-function": [2, {  // enforce a maximum function length
      max: 300,
      skipBlankLines: true,
      skipComments: true,
      IIFEs: true,
    }],
    "max-params": [2, 4],  // limits the number of parameters that can be used in the function declaration.
    "max-depth": [2, 4],  // specify the maximum depth that blocks can be nested
    "max-statements": [2, 30],  // specify the maximum number of statement allowed in a function
    "max-statements-per-line": [2, { max: 1 }],  // restrict the number of statements per line,
    "import/no-extraneous-dependencies": ["error", {"peerDependencies": true}],
    "quote-props": [0, "always"]
  }
}
