{
  "parser": "vue-eslint-parser",
  "extends": [
    'plugin:vue/vue3-recommended',
    'prettier',
    'prettier/vue',
  ],
  "plugins": ['prettier'],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
  },
  "globals": {
    "window": true,
    "document": true,
    "describe": true,
    "test": true,
    "expect": true,
    "navigator": true,
    "API_URL": true,
    "APP_URL": true,
    "NODE_ENV": true,
    "$": true,
    "PORT": true,
    "SSR": true,
    "localStorage": true,
    "sessionStorage": true,
    "Blob": true,
    "Image": true
  },
  "rules": {
    "vue/html-indent": "off",
    "no-useless-constructor": "off",
    "import/prefer-default-export": "off",
    "no-console": ["error", { allow: ["error"] }],
    "camelcase": "off",
    "linebreak-style": [0, {"allow": ["windows"]}],
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "prettier/prettier": ["error", {
      "printWidth": 80,
      "tabWidth": 2,
      "useTabs": false,
      "semi": true,
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "max-lines": [2, {  // specify the max number of lines in a file
      max: 300,
      skipBlankLines: true,
      skipComments: true
    }],
    "max-lines-per-function": [2, {  // enforce a maximum function length
      max: 300,
      skipBlankLines: true,
      skipComments: true,
      IIFEs: true,
    }],
    "max-params": [2, 4],  // limits the number of parameters that can be used in the function declaration.
    "max-depth": [2, 4],  // specify the maximum depth that blocks can be nested
    "max-statements": [2, 30],  // specify the maximum number of statement allowed in a function
    "max-statements-per-line": [2, { max: 1 }],  // restrict the number of statements per line,
    "import/no-extraneous-dependencies": "off",
    "quote-props": [0, "always"]
  }
}
